
@{
    ViewData["Title"] = "Admin dasboard";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Welcome, @ViewData["UserName"]!</h2>
<p>This is the Admin Dashboard.</p>
<a asp-controller="AdminDashboard" asp-action="AddProduct" class="btn btn-success">Add Product</a>
<a asp-action="UserList" class="btn btn-info">View Users</a>




<link rel="stylesheet" href="~/css/productList.css" />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}



<div class="container mt-4">
    
    <div class="product-container">
        @foreach (var product in Model)
        {
            <div class="card product-card">
                <div class="position-relative">
                    <img src="data:image/png;base64,@product.Image" class="card-img-top" alt="Product Image">
                    
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">@product.Name</h5>
                    <p class="card-text text-muted">@product.Description</p>
                    <p class="fw-bold text-primary fs-5">₹@product.Price</p>
                    <p class="text-secondary">Available: @product.Quantity</p>

                   

                    <form asp-action="EditProduct" asp-route-id="@product.ProductId" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-primary"
                                style="background-color: #007bff; color: #fff; border: none; padding: 8px 16px; border-radius: 4px; cursor: pointer;">
                            Edit
                        </button>
                    </form>


                    <form asp-action="DeleteProduct" asp-route-id="@product.ProductId" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger"
                                style="background-color: #dc3545; color: #fff; border: none; padding: 8px 16px; border-radius: 4px; cursor: pointer;"
                                onclick="return confirm('Are you sure you want to delete this product?');">
                            Delete
                        </button>
                    </form>


                </div>
                
            </div>
        }
    </div>
</div>